<app-modify-content></app-modify-content>

<div>
  <input type="text" [(ngModel)]="searchTitle" placeholder="Enter title">
  <button (click)="checkTitle()">Search</button>
</div>
<div *ngIf="searched && !titleExists" style="color: red;">Content item with title "{{ searchTitle }}" does not exist.</div>
<div *ngIf="searched && titleExists" style="color: green;">Content item with title "{{ searchTitle }}" exists.</div>

<div class="content-list">
  <h2>No Type Set</h2>
  <div *ngFor="let contentItem of contentItems | contentTypeFilter">
    <app-content-card [content]="contentItem"></app-content-card>
  </div>

  <h2>Varsity</h2>
  <div *ngFor="let contentItem of contentItems | contentTypeFilter: 'Varsity'">
    <app-content-card [content]="contentItem"></app-content-card>
  </div>

  <h2>Academy</h2>
  <div *ngFor="let contentItem of contentItems | contentTypeFilter: 'Academy'">
    <app-content-card [content]="contentItem"></app-content-card>
  </div>
</div>
