.content-card {
    border: 3px solid #000;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    max-width: 320px;
  }
  
  .content-card img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
  }
  
  .content-card h2 {
    margin-bottom: 5px;
  }
  
  .content-card p {
    margin: 5px 0;
  }

* {
    display: inline-block;
}

.type-varsity {
  background-color: green;
  text-decoration: none !important;
}

.type-academy {
  background-color: red;
  text-decoration: none !important;
}

.top-content {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.9); 
  color: pink;
}